# ------------------------
# macOS 기본 생성 파일
# ------------------------
.DS_Store

# ---------------------------------
# Xcode 관련 설정 및 임시 파일
# ---------------------------------
# 빌드 아티팩트, 임시 데이터
DerivedData/
build/
# Xcode 워크스페이스 파일
*.xcworkspace
# 사용자별 설정 파일
xcuserdata/
# Xcode 상태 추적 파일
*.xcuserstate
# 스키마 정보
*.xcscmblueprint
# 임시 또는 옮겨진 파일
*.moved-aside

# ---------------------------------
# Swift Package Manager(SPM)
# ---------------------------------
# 빌드 폴더
.build/
# Xcode가 SPM으로 생성한 임시 파일
*.swiftpm/xcode

# ---------------------------------
# CocoaPods
# ---------------------------------
Pods/
Podfile.lock

# ---------------------------------
# Carthage
# ---------------------------------
Carthage/Build/
Carthage/Checkouts/

# ---------------------------------
# 기타
# ---------------------------------
# 로그나 임시 파일
*.log
*.tmp
